<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="example-container">
    <div class="row">
      <div class="col-7">

        <mat-grid-list cols="2" rowHeight="70px" gutterSize="20px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>From</mat-label>
              <input matInput placeholder="From" formControlName="from">
              <mat-error *ngIf="form.get('from').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>To</mat-label>
              <input matInput placeholder="To" formControlName="to">
              <mat-error *ngIf="form.get('to').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Pick Date</mat-label>
              <input matInput [matDatepicker]="start" placeholder="Choose a date" formControlName="start">
              <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
              <mat-datepicker #start></mat-datepicker>
              <mat-error *ngIf="form.get('start').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Delivery Date</mat-label>
              <input matInput [matDatepicker]="end" placeholder="Choose a date" formControlName="end">
              <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
              <mat-datepicker #end></mat-datepicker>
              <mat-error *ngIf="form.get('end').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Driver licence</mat-label>
              <input matInput placeholder="Driver licence" formControlName="driverId">
              <mat-error *ngIf="form.get('driverId').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Truck Plate Number</mat-label>
              <input matInput placeholder="Truck Plate Number" formControlName="plateNumber">
              <mat-error *ngIf="form.get('plateNumber').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col" *ngIf="showCard()">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Product information</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col">Compnay:</div>
                  <div class="col">{{ product.companyName }}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col">Variety:</div>
                  <div class="col">{{ grape.variety }}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col">Vintage:</div>
                  <div class="col">{{ grape.vintage }}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col">Weight:</div>
                  <div class="col">{{ grape.estimatedWeight }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" [routerLink]="['/home/products','driver']">Cancel</button>
    </div>
  </div>
</form>