
  .mat-table {
    overflow: auto;
    max-height: 700px;
  }

  .example-header {
    min-height: 64px;
    padding-top: 10px;
  }

  .clickable-row {
    cursor: pointer;
  }

  .mat-cell.mat-column-action.mat-raised-button > .mat-icon {
    display: inline-flex;
    vertical-align: middle;
  }

  .mat-cell.mat-column-action.mat-raised-button {
    padding: 0px;
  }
