
  .mat-table {
    overflow: auto;
    max-height: 700px;
  }

  .example-header {
    min-height: 64px;
    padding-top: 10px;
  }

  .example-container {
    border-radius: 5px;
  }

  .clickable-row {
    cursor: pointer;
  }

  .mat-cell.mat-column-action.mat-raised-button > .mat-icon {
    display: inline-flex;
    vertical-align: middle;
  }

  .mat-cell.mat-column-action.mat-raised-button {
    padding: 0px;
  }

  .mat-row:nth-child(even){
    background-color:#e6f3ff;
  }

  .mat-row:nth-child(odd){
    background-color:#c2e1fd;
  }

  .mat-row:hover{
    background-color: #6ab9ff;
  }

  .mat-header-cell{
    color: #00305B;
    font-weight: bold;
  }
