<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="example-container">
    <mat-grid-list cols="2" rowHeight="70px" gutterSize="20px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>
            <mat-icon>domain</mat-icon>
            <i> Company name </i>
          </mat-label>
          <mat-select formControlName="companyName" required>
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let company of companies" [value]="company">{{ company }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('companyName').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Region</mat-label>
          <input matInput placeholder="Region" formControlName="region">
          <mat-error *ngIf="form.get('region').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Vineyard</mat-label>
          <input matInput placeholder="Vineyard" formControlName="vineyard">
          <mat-error *ngIf="form.get('vineyard').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Block</mat-label>
          <input matInput placeholder="Block" formControlName="block">
          <mat-error *ngIf="form.get('block').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Row range</mat-label>
          <input matInput placeholder="Row range" formControlName="rowRange">
          <mat-error *ngIf="form.get('rowRange').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Variety</mat-label>
          <input matInput placeholder="Variety" formControlName="variety">
          <mat-error *ngIf="form.get('variety').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Vintage</mat-label>
          <input matInput placeholder="Vintage" formControlName="vintage">
          <mat-error *ngIf="form.get('vintage').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Number of Bins</mat-label>
          <input matInput placeholder="Number of Bins" formControlName="bins">
          <mat-error *ngIf="form.get('bins').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>
            <mat-icon>domain</mat-icon>
            <i> Status </i>
          </mat-label>
          <mat-select formControlName="status" required>
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('status').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Estimated weight(T)</mat-label>
          <input matInput placeholder="Estimated weight(T)" formControlName="estimatedWeight">
          <mat-error *ngIf="form.get('estimatedWeight').hasError('required')">{{getErrorMessage()}}</mat-error>
          <mat-error *ngIf="form.get('estimatedWeight').hasError('pattern')">Number with 2 decimals</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="button-row">
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <button mat-raised-button color="warn" type="button" *ngIf="showDeleteButton()" (click)="delete()">Delete</button>
    <button mat-raised-button color="btn-secondary" [routerLink]="['/home/products','grower']">Cancel</button>
  </div>
</form>