@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: lightslategray;
}


.button-row {
    margin-bottom: 10px;
    margin-top: 10px;
}