@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: lightslategray;
}

.sidebar {
    min-height: 500px;
    max-height: 500px;
}

.top-banner {
    background-color: rgb(140, 161, 189);
}