
.sidebar {
    min-height: 100%;
    min-width: 170px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    background-color: #00305B;
}


.top-banner {
    background-color: #00305B;
}

.nav > .nav-item > .nav-link.active {
    color: rgb(14, 126, 116);
}

.nav-bar-link{
  color: white;
  padding-left: 10px;
}

.nav-bar-link:hover{
  color: #0487B7;
}

.navbar a.logout-link{
  color: white;
}

.navbar a.logout-link:hover{
  color: #0487B7;
}

.sidebar li a.nav-link:hover{
    color: #0487B7;
}

.nav-divider {
  padding-right: 90%;
  margin:auto;
  background-color: white;
}

.blue-icon{
  color: #0487B7;
  vertical-align: middle;
}

.nav-text{
  color:white;
  margin:auto;
}

.collapse.navbar-collapse > .nav-link {
    display: inline-flex;
    vertical-align: middle;
}

.footer{
  padding-top: 50px;
}

.footer img{
    display: block;
    margin: 0 auto;
}
