<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light top-banner">
  <a class="navbar-brand" routerLink="/"><i class="fa fa-leaf" aria-hidden="true">
      <img src="/assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Ziontech</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="toggleMenu()"
    [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
    </ul>
    <a class="nav-link" (click)="logout()"><mat-icon color="warn">exit_to_app</mat-icon>Logout</a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-11 col-md-1 sidebar bg-dark" id="sidebar" role="navigation">
        <ul class="nav flex-column sidebar">
          <li class="nav-item active" *ngIf="isGrower()" >
              <a class="nav-link" [routerLink]="['./products','grower']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Grower</a>
          </li>
          <li class="nav-item" *ngIf="isWinery()">
            <a class="nav-link" [routerLink]="['./products','winery']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Winery</a>
          </li>
          <li class="nav-item" *ngIf="isBottler()">
            <a class="nav-link" [routerLink]="['./products','bottler']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Bottler</a>
          </li>
          <li class="nav-item" *ngIf="isDriver1()">
            <a class="nav-link" [routerLink]="['./products','driver1']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Grape Driver</a>
          </li>
          <li class="nav-divider"><mat-divider></mat-divider></li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./products','transaction']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Transaction</a>
          </li>
        </ul>
    </div>
    <div class="col-11 col-md-10">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
