<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light top-banner">
  <a class="navbar-brand" routerLink="/"><i class="fa fa-leaf" aria-hidden="true">Ziontech</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link pull-right" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="sidebar bg-dark" id="sidebar" role="navigation">
        <ul class="nav flex-column sidebar">
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['./products','grower']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Grower</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./products','winery']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Winery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./products','bottler']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Bottler</a>
          </li>
          <li class="nav-divider"><mat-divider></mat-divider></li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./products','transaction']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Transaction</a>
          </li>
        </ul>
    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
