
.sidebar {
    min-height: 500px;
    max-height: 500px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
}

.top-banner {
    background-color: rgb(140, 161, 189);
}

.nav > .nav-item > .nav-link.active {
    color: rgb(14, 126, 116);
}

.nav-divider {
    padding-right: 15px;
    margin-right: 15px;
}

